---
import GetStartedButton from "./GetStartedButton.astro";
---

<div class="bg-deep-blue flex flex-row justify-between pl-4 py-6 content-center">
    <a href="/">
        <img src="../src/assets/logo-light.svg" alt="">
    </a>
    <GetStartedButton style="text-white bg-gradient-to-b from-gradient-blue to-gradient-pink text-bold py-3"/>
</div>