---
import GetStartedButton from "./GetStartedButton.astro"
GetStartedButton
import HeroCustomImg from "./HeroCustomImg.astro"

import mobileImg from '../assets/image-hero-mobile.webp'
import tabletImg from '../assets/image-hero-desktop.webp'
import desktopImg from '../assets/image-hero-tablet.webp'
---

<div class="mx-4">
    <h1 class="text-[40px] font-bold text-deep-blue">Maximize skill, minimize budget</h1>

    <p class="text-gray">
        Our modern courses across a range of in-demand skills will give you the
        knowledge you need to live the life you want.
    </p>
    <GetStartedButton style="text-white bg-gradient-to-b from-gradient-orange to-gradient-pink text-bold py-3"/>


    <HeroCustomImg 
        mobileImgUrl={mobileImg}
        tabletImgUrl={tabletImg}
        desktopImgUrl={desktopImg}
    />
</div>