<div class="">
    <h1 class="text-[40px] font-bold text-deep-blue">Maximize skill, minimize budget</h1>

    <p>
        Our modern courses across a range of in-demand skills will give you the
        knowledge you need to live the life you want.
    </p>


    <img src="../src/assets/image-hero-mobile.webp" alt="">
</div>